
  <div ng-if="loading"> Loading ...</div>
  <div class="row card">
    <div class="col-sm-3 poster">
      <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{serialFullData.backdrop_path}}">
    </div>
    <div class="col-sm-9 series-info">
      <h2>{{serialFullData.name}}</h2>
      <p>{{serialFullData.overview}}</p>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div ng-if="serialFullData && !loading" class="info-wrapper row">
    <div class="col-sm-2 col-xs-12 seasons">
      <h4>Seasons</h4>
      <ul>
        <li ng-repeat="season in serialFullData.seasons" ng-class="getSelectedSeason(season)">
          <a ui-sref="serial({id: stateParams.id, sid: season.season_number, eid: 1})"><span>Season {{season.season_number+1}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12 episodes">
      <h4>Episodes</h4>
      <ul>
        <li ng-repeat="episode in seasonData.episodes track by $index" ng-class="getSelectedEpisode(episode)">
          <a ui-sref="serial({id: stateParams.id, sid: stateParams.sid, eid: episode.episode_number})"><span class="episode-number">{{$index}}</span> <span class="episode-name">{{episode.name}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h4>{{episodeData.name}}</h4>
      <p>{{episodeData.overview}}</p>
    </div>
  </div>

